* {
  box-sizing: border-box;
}

body {
  background-image: url(../public/bg-desktop.svg) ;
  background-repeat: no-repeat;
  /*background-position: center; */
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  display: flex;
  flex-direction: column;
}

.container{
 /* display: grid;
  grid-template-columns: clamp(820px, 45vw, 830px)  clamp(470px, 30vw, 480px);*/
  margin-top: clamp(20px, 3vh, 25px);
  margin-left: 3vw;
  display: inline-flex;
  height: calc(100vh - 50px);
}

.logo {
  background-image: url(../public/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 70px;
  margin-left: 3vw;
  margin-top: clamp(10px, 2vh, 15px);
}

.image {
  background-image: url(../public/illustration-mockups.svg);
  width: clamp(720px, 50vw, 750px);
  height: clamp(500px, 60vh, 510px);
  background-repeat: no-repeat;
  /*grid-column-start: 1;
  grid-column-end: 2; */
}

.everything {
  margin-top: 5vh;
 /* grid-column-start: 2;
  grid-column-end: 3; */
}

p{
  color: hsl(0, 100%, 100%);
  font-family: open;
   /*border: 1px solid red; */
  width: clamp(370px, 27vw, 380px) ;
  line-height: 30px;
  font-weight: 400;
  font-size: 15px;
}
h1{
  color: hsl(0, 100%, 100%);
  font-family: pop;
  font-weight: 600;
 line-height: 50px;
  width: clamp(350px, 40vw, 370px);
}

footer{
 
}


@font-face {
  font-family: pop ; 
  src:url(../public/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: open ;
  src: url(../public/Open_Sans/static/OpenSans-Regular.ttf);
}

button{
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  width: 200px;
  color: hsl(300, 69%, 71%);
  font-family: open;
  font-size: 16px;
  box-shadow: 2px 2px 3px 3px hsl(0, 0%, 30%);
}

.icon{
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  color: hsl(0, 100%, 100%) ;
  left: max(800px, 85vw);
  /*top: 17vh ;*/
}

/*hover*/
button:hover{
  background-color: hsl(300, 69%, 71%) ;
  color: hsl(0, 100%, 100%) ;
  cursor:pointer;
}

.icon:hover{
  color: hsl(300, 69%, 71%) ;
}

/*media queries */

@media (max-width:600px){
  body{
    background-image: url(../public/bg-mobile.png);
    overflow-x: hidden;
  }

  .container{
    /* display: grid;
     grid-template-columns: clamp(820px, 45vw, 830px)  clamp(470px, 30vw, 480px);*/
     margin-top: clamp(20px, 3vh, 25px);
     margin-left: 3vw;
     display: flex;
     flex-direction: column;
     height: calc(100vh - 50px);
     margin: 0 auto;
   }

   .image {
    background-image: url(../public/illustration-mockups.svg);
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    /*grid-column-start: 1;
    grid-column-end: 2; */
  }

  
}